@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.Partial("_CreatePartial", new PrickCheckerSolutions.Infrastructure.Sysmsg { id = 0 })

<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                Message
            </th>
            <th></th>
        </tr>

    </thead>

<tbody id="pc_listContent">
    @Html.Action("_GetList", new { srch = string.Empty })
</tbody>    
</table>
