

<br />
<br />
<div class="row container">
    <div class="col s12 m12 l12">
        
        <div class="card adbox">
            <div class="card-image waves-effect waves-block waves-light adbox-fullwidth-height-130">
                <img class="activator" src='@Url.Content("~/Images/Placeholder/adspace.jpg")'>
            </div>
            <div class="card-reveal transparent">
                <span class="card-title grey-text text-darken-4">Adv Space</span>
                <p>
                    This space is available for advertisement. Advertisements can contain an image, name, description and link.
                    Description and link is visible on hover
                    <a href="#">This is a link</a>
                </p>
            </div>
        </div>
        

    </div>
</div>


