
<div class="card adbox">
    <div class="card-image waves-effect waves-block waves-light">
        <img class="activator" src='@Url.Content("~/Images/Placeholder/adspace.jpg")'>
    </div>
    <div class="card-reveal transparent">
        <span class="card-title grey-text text-darken-4">Adv Space</span>
        <p>
            This space is available for advertisement. Advertisements can contain an image, name, description and link.
            <br />
            Description and link is visible on hover
            <br />
        <a href="#">This is a link</a>
        </p>
    </div>
</div>
