

<div class="navbar-fixed" id="pc-navfixer">
        <nav style="height:64px !important;">
            <div class="nav-wrapper light-blue darken-4 hoverable">
                <div class="container">
                    <div class="row">
                        <div class="col s2 m2 l1 left">
                            <a href="#" class="pc-sidenav" data-activates="slide-out">
                                <i class="material-icons">menu</i>
                            </a>
                        </div>

                        <div class="col s2 m2 l1 left">
                            <a href='@Url.Action("Index", "Home")' class="">
                                <i class="material-icons">home</i>
                            </a>
                        </div>

                        <div class="col s8 m8 l10 right">
                          
                            @Html.Partial("_SearchForm", new PrickCheckerSolutions.ViewModel.vm_Search())

                        <div>

                    </div>

                </div>
                    </div>
            </div>
            </div>
        </nav>


</div>



