

<div class="fixed-action-btn click-to-toggle">
    <a class="btn-floating btn-large blue">
        <i class="large mdi mdi-share-variant"></i>
    </a>
    <ul>
        <li><a class="btn-floating" style="background-color: #3b5998 !important;"><i class="mdi mdi-facebook"></i></a></li>
        <li><a class="btn-floating" style="background-color: #55ACEE !important;"><i class="mdi mdi-twitter"></i></a></li>
        <li><a class="btn-floating" style="background-color: #dd4b39 !important;"><i class="mdi mdi-google-plus"></i></a></li>
        <li><a class="btn-floating" style="background-color: #fccc63 !important;"><i class="mdi mdi-instagram"></i></a></li>
        <li><a class="btn-floating" style="background-color: #C92228 !important;"><i class="mdi mdi-pinterest"></i></a></li>
    </ul>
</div>